/* RESET */
*, *::before, *::after { 
    box-sizing: border-box; 
}
html { 
    -moz-text-size-adjust: none; 
    -webkit-text-size-adjust: none; 
    text-size-adjust: none; 
}
body, h1, h2, p { 
    margin-block-end: 0; 
}
ul[role='list'], ol[role='list'] { 
    list-style: none; 
}
body { 
    min-height: 100vh;
    line-height: 1.5;
    font-family: Verdana, Monaco, sans-serif;
}
img { 
    max-width: 100%;
    display: block;
}

/* common */
a { 
    text-decoration: none;
    cursor: pointer;
}
a:hover { 
    text-decoration: underline;
}
h1 { 
    font-size: 1.5em;
    text-align: center;
    letter-spacing: 1.3px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0 auto 2em auto;
}
h2 { 
    margin: 1em 0;
    font-size: 1.1em;
    padding-bottom: 0.5em;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
}
footer { 
    color: gray;
    font-size: 0.8em;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(90deg);
    transform-origin: top left;
}
footer a { 
    text-decoration: underline;
    cursor: pointer;
}
div#content { 
    width: 90%;
    margin: 1em auto;
}

/* config */
div#config { 
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div#config > div { 
    width: 50%;
}
div#config #error { 
    color: red;
    font-weight: bold;
    background-color: lightpink;
    padding: 1em;
    border: 1px solid red;
    display: none;
}

/* main */
.grid-container {
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
    width: 100%;
    height: 100vh;
    padding: 1em;
    box-sizing: border-box;
}
.grid-item {
    border: 2px dashed rgba(0, 0, 0, 0.09);
    display: flex;
    align-items: center;
    justify-content: center;
}
section { 
    width: 98%;
    height: 98%;
    display: block;
    align-items: center;
    justify-content: center;
    cursor: move;
}

section .title .number { 
    color: black;
}
section ul { 
    margin: 0 auto;
    padding: 0;
}
section li { 
    display: none;
    margin: 0.5em 0;
    padding: 0.5em 1em;
    border: 1px solid #f0f0f0;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}
section li:hover { 
    background-color: #f2f2f2;
}
section li:nth-child(-n+4) { 
    display: flex;
}
section li p, section li div { 
    padding: 0;
    margin: 0;
}
section div.item { 
    flex-grow: 1;
}
section p.info { 
    font-size: 0.8em;
    color: gray;
}
section p.info a { 
    color: black;
}
section .item-user-icon { 
    padding: 0 0.1em;
    margin-right: 0.5em;
}
section .item-user-icon img { 
    object-fit: cover;
}
section .update { 
    font-size: 0.8em;
    color: gray;
}
section .marker { 
    font-size: 0.8em;
    color: darkgreen;
    padding: 0.1em 0.5em;
    border: 1px solid darkgreen;
    border-radius: 5px;
}
section .no-entries, section .show-all { 
    text-align: center;
    font-size: 0.8em;
    color: gray;
}

/* nav */
nav { 
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
}

/* loader */
@keyframes rotate {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}

@keyframes rotate2 {
    0% { 
        transform: rotate(0deg);
        border-top-color: rgba(0, 0, 0, 0.5);
    }
    50% { 
        transform: rotate(180deg);
        border-top-color: rgba(0, 0, 255, 0.5);
    }
    100% { 
        transform: rotate(360deg);
        border-top-color: rgba(0, 0, 0, 0.5);
    }
}

body { 
    padding-bottom: 100px;
}
.loader { 
    position: relative;
    margin: 75px auto;
    width: 150px;
    height: 150px;
    display: block;
    overflow: hidden;
}
.loader div { 
    height: 100%;
}

/* loader 1 */
.loader1, .loader1 div {
    border-radius: 50%;
    padding: 8px;
    border: 2px solid transparent;
    animation: rotate linear 3.5s infinite;
    border-top-color: rgba(0, 0, 0, 0.5);
    border-bottom-color: rgba(0, 0, 255, 0.5);
}
div:hover { 
    animation-play-state: paused;
}
.loader, .loader * { 
    will-change: transform;
}
.draggable:active {
    opacity: 0.6;
    cursor: grabbing;
}

#config-form-container { 
    margin: 1em auto;
}
#config-form-container form > fieldset { 
    /*margin: 1em 0;*/
    display: block;
}
#config-form-container form > fieldset > div {
    display: flex;
    margin: 0.5em 0;
}
#config-form-container form > fieldset > div > label { 
    flex: 1;
}
#config-form-container form > fieldset > div > input { 
    flex: 2;
}   
